backports.functools-lru-cache==1.6.1
cycler==0.10.0
future==0.17.1
kiwisolver==1.1.0
matplotlib~=3.0
numpy~=1.16
pandas~=1.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
scikit-learn
scipy
seaborn==0.9.1
six==1.15.0
subprocess32==3.5.3
torch~=1.9
torchvision
tqdm~=4.23
h5py
